---
layout: home
background: '/img/2.png'
---

<!-- This loops through the paginated posts -->

{% for post in paginator.posts %}

<article class="post-preview">
	<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
		<h2 class="post-title">{{ post.title }}</h2>
		{% if post.subtitle %}
		<h3 class="post-subtitle">{{ post.subtitle }}</h3>
		{% else %}
		<h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 5 }}</h3>
		{% endif %}
	</a>
	<p class="post-meta">
		Posted by {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %} on {{ post.date | date:
		'%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
	</p>
</article>

<hr />

{% endfor %} {% if paginator.total_pages > 1 %}
<div class="container">
	<div class="row">
		<div class="mx-auto">
			<div class="pagination">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | relative_url }}">&laquo;&nbsp;&nbsp; Prev&nbsp;&nbsp;</a>
				{% else %}
				<span>&laquo; &nbsp;&nbsp;Prev&nbsp;&nbsp;</span>
				{% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
				<em>{{ page }}&nbsp;&nbsp;&nbsp;</em>
				{% elsif page == 1 %}
				<a href="{{ '/' | relative_url }}">{{ page }}&nbsp;&nbsp;</a>
				{% else %}
				<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
				{% endif %} {% endfor %} {% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | relative_url }}">&nbsp;&nbsp;Next&nbsp;&nbsp; &raquo;</a>
				{% else %}
				<span>&nbsp;&nbsp;Next&nbsp;&nbsp; &raquo;</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}
